<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}

    <form action='/test' method='post'>
      <label>
        address
        <input type='text' name='addr' placeholder="please enter address"></input>
      </label>
      <input type='submit' value='Submit'></input>
    </form>

    {{> footer}}
  </body>
</html>
